{% extends 'base.html' %} {% block title %}Todo List{% endblock %} {% block
content %}
<h1>Todo List</h1>
<form
  action="{{ url_for('index') }}"
  method="POST"
  enctype="multipart/form-data"
  class="mb-5"
>
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.title.label(class="form-label") }} {{
    form.title(class="form-control", size=50) }}
  </div>
  <div class="mb-3">
    {{ form.description.label(class="form-label") }} {{
    form.description(class="form-control", cols=50, rows=4) }}
  </div>
  <div class="mb-3">
    {{ form.time.label }}<br />
    {{ form.time() }}
    <!-- DateTime Input Field Above Image -->
  </div>
  <div class="mb-3">
    {{ form.image.label }}<br />
    {% if current_user.has_pro_license %}
    <!-- Check if user has Pro license -->
    {{ form.image() }} {% else %}
    <button
      type="button"
      class="btn btn-outline-primary"
      data-bs-toggle="modal"
      data-bs-target="#proLicenseModal"
    >
      Upload Image
    </button>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Add Todo</button>
</form>
{% endblock %}
